<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Read (All)</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
       <div class="container">
            <h1>All Users</h1>
            <table>
                <tr>
                    <th>User</th>
                    <th>Full Name</th> 
                    <th>Email</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
                {% for one_user in all_users %}
                <tr>
                    <td>{{ one_user['id'] }}</td>
                    <td>{{ one_user['first_name'] }} {{one_user['last_name']}}</td> 
                    <td>{{ one_user['email'] }}</td>
                    <td>{{ one_user['created_at'] }}</td>
                    <td><a href="/users/id">Show</a> | <a href="/users/id/edit">Edit</a> | Delete</td>
                </tr>
                {% endfor %}
            </table>
            <a href="/users/new">Add a New User</a>
       </div>
    </body>
</html>

